.button-row {
    display: flex;
    gap: 8px
}
.button-row .button {
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.button {
    padding: 12px 31px;
}

.icon-button {
    padding: 12px 25px;
    align-items: center;
}

.icon-button i {
    height: 22px;
    width: 22px;
    margin-right: 8px;
}
.icon-button svg {
    margin-right: 8px;
    height: 22px;
    width: 22px;
}

.button.big {
    padding: 14px 53px;
}

.button.small {
    padding: 8px 18px;
}


.button:hover {
    background-color: var(--col-l4);
    outline: 2px solid var(--col-l3);
}

.button:active {
    background-color: var(--col-l5);
    outline: 2px solid var(--col-l6);
}

.button.cta, .pill-button.cta {
    background-color: transparent;
    background: var(--gradient);
    color: var(--topcol);
    font-weight: 500;
}


.button.cta:hover, .pill-button.cta:hover {
    background: #fff5 var(--gradient);
    outline: 2px solid var(--col-l90);
}

.button.cta:active, .pill-button.cta:active {
    background: var(--gradient_90);
    outline: 2px solid var(--col-l90);
}

.pill-button {
    cursor: pointer;
    background-color: var(--col-l3);
    border-radius: 90px;
    height: 37px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.pill-button:hover {
    background: var(--col-l5);
}
.pill-button.active {
    background: var(--gradient) !important;
    font-weight: 700;
    color: var(--topcol);
}
.pill-button.active svg {
    stroke-width: 3px;
    fill: var(--topcol);
}

.pill-button svg {
    height: 17px;
    margin-right: 1px;
    margin-bottom: 1px;
}

.pill-button-square {
    padding: 0px;
    width: 37px;
}