
.medals__page {
    --maxheight: calc(100vh - var(--navbar-height));
    height: 100%;
    max-height: var(--maxheight);
    display: flex;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
}
.medals__medal-section {
    width: 100%;
    padding-top: 10px;
    border-radius: var(--border-radius);
    margin-bottom: 20px;
}
.medals__medal-section h1 {
    font-weight: 400;
    font-size: 22px;
    margin-left: 20px;
}
.medals__medal-gamemodesection {
    padding: 20px;
    margin-top: 10px;
    border-radius: var(--border-radius);
    background: linear-gradient(-200deg,
    color-mix(in srgb, var(--col-sat-2) 20%, transparent),
    color-mix(in srgb, var(--col-sat-1) 5%, transparent) 70%) !important;

    animation: slide 0.4s ease;
    animation-fill-mode: both;
}


.medals__medal-gamemodesection > h2 {
    font-size: 22px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 8px;
}
.medals__medal-gamemodesection > h2 i {
    color: var(--col-sat-2);
    font-size: 30px;
}
.medals__medal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3.2rem, 1fr));
    grid-auto-rows: 1fr;
    width: 100%;
    grid-gap: 8px 14px;
    margin-top: 20px;
}

.medals__medal-button {
    aspect-ratio: 110/118;
    width: 60px;
    height: auto;
    transition: all 0.05s ease-out;
}
.medals__medal-button.active {
    z-index: 2;
    filter: drop-shadow(2px 2px 5px #0004) drop-shadow(0px 0px 15px #fffa) drop-shadow(0px 0px 5px white) brightness(1.2);
}
.medals__medal-button:hover {
    transform: scale(1.05);
}
.medals__medal-button:active {
    transform: scale(0.95) translateY(2px);
}
.medals__medal-button img {
    object-fit: contain;
    width: 100%;
}

.medals__page {
    display: flex;
}

.medals__page .sidebar {

    padding: 30px;
    flex: 2;
    overflow-y: scroll;
}
.medals__page .sidebar input {
    position: sticky;
    top: 0;
    z-index: 9;
}
.medals__page .main {
    margin: 20px;
    margin-left: 0px;
    flex: 5.4;
    border-radius: 16px;
    position: relative;
    background: transparent;
}
.medals__page .main .scrollable {
    display: flex;
    padding: 20px;
    overflow-y: scroll;
    max-height: 100%;
    align-items: flex-start;
}


.medals__page .main .bg {
    content: "";
    --col: #fff6;
    --col-trans: #fff0;
    border-radius: 16px;


    transition: background 1s ease;
    background: var(--col-sat-1);
    mask-image:
            radial-gradient(53.34% 95.55% at 82.05% 70.78%, var(--col) 0%, var(--col-trans) 100%),
            radial-gradient(106.54% 106.54% at 95.06% 100%, var(--col) 0%, var(--col-trans) 120%);
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.medals__page .main .panel {
    background: color-mix(in srgb, var(--col-d1) 20%, transparent);
    border: 1px solid #fff1;
}

.medals__page .main-left {
    flex: 3;
    margin-right: 20px;
}

.medals__page .main-right {
    flex: 2;

    flex-grow: 2;
    flex-shrink: 1; /* Prevent shrinking if necessary */
    flex-basis: 0; /* Adjust this to control initial size */
}
.medals__unsaved {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 20px);
    border-radius: 200px;
    margin: 10px;
    text-align: center;
    padding: 12px;
    background: #b23737;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #f00;
}

#medal_beatmaps {
    width: 100%;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr;
}
.beatmap {
    border-radius: 12px;
    overflow: hidden;
    background: linear-gradient(to bottom, color-mix(in srgb, var(--col-d2) 80%, transparent), color-mix(in srgb, var(--col-l2) 40%, transparent)), var(--bg);
    width: 100%;
    display: flex;
    flex-direction: column;
}
.beatmap:has(.top:hover) {
    filter: brightness(1.2);
}
.beatmap .top {
    color: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}



.beatmap .top > div,
.beatmap .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.beatmap .top > div > *:last-child {
    text-align: right;

}

.beatmap .vote-button:before {
    content: "+";
}

.beatmap .top,
.beatmap .bottom {
    padding: 15px 17px;
}
.beatmap .bottom {
    padding: 6px 17px;
    backdrop-filter: blur(8px);
    background-color: color-mix(in srgb, var(--col-l2) 80%, transparent);
}
.beatmap .top h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}
.beatmap .top h3 {
    font-weight: 300;
    font-size: 17px;
}
.beatmap .bottom h4 {
    font-weight: 400;
    font-size: 14px;
}
.medal__info {
    padding: 0px;
}
.medal__info > * {
    padding: var(--padding);
    border-radius: var(--border-radius);
}

.medal__info-upper {
    display: flex;
    align-items: center;
    width: 100%;
}
.medal__info-text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: var(--padding);
    line-height: 1.2 !important;
}
.medal__info-text h1 {
    font-size: 25px;
    font-weight: 500;
}
.medal__info-text h2 {
    font-size: 20px;
    font-weight: 300;
}

.medal__info-text h3 {
    font-size: 17px;
    margin-top: 3px;
    font-weight: 300;
    font-style: italic;
    opacity: 0.6;
}

.medal__info-upper {
    position: relative;
    overflow: hidden;
}
.medal__info-upper > img {
    height: 100px;
    margin: 10px 0px;
}
.medal__info-upper:before {
    content: "";
    --col: #fff6;
    --col-trans: #fff0;
    border-radius: 16px;


    transition: background 1s ease;
    background: var(--col-sat-1);
    mask-image:
            radial-gradient(53.34% 95.55% at 82.05% 70.78%, var(--col) 0%, var(--col-trans) 100%),
            radial-gradient(106.54% 106.54% at 95.06% 100%, var(--col) 0%, var(--col-trans) 120%);
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.medal__info-solution h1 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 4px;
}
.medal__info-solution div {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2;
}
.medal__info-solution div i {
    font-weight: 300;
}

@media (max-width: 1100px) {
    .medals__page .main .scrollable {
        flex-direction: column;
    }
    .medals__page .main-left {
        margin-right: 0px;
    }
}
@media (min-width: 800px) {
    /*desktop*/
}
@media (max-width: 800px) {
    #medal_beatmaps {
        grid-template-columns: 1fr !important;
    }
    .medals__page .sidebar {
        height: var(--maxheight);
        position: absolute;
        z-index: 999;
        width: 100%;

        transform: translateX(-100%);
        opacity: 0;

        transition: all 0.5s ease;
    }
    .medals__page .main {
        margin: 20px;


        transform: translateX(0px);
        opacity: 1;

        transition: all 0.5s ease;
    }



    .medals__page.home .sidebar {
        transform: translateX(0px);
        opacity: 1;
    }
    .medals__page.home .main {
        transform: translateX(100%);
        opacity: 0;
    }
}
.sidebar__no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sidebar__no-results img {
    height: 250px;
    margin: 40px 0px;
}