#medal-graph {
    width: 100%;
}

.header-img {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: calc(400px * (1200 / 300));
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        mask-image: linear-gradient(to right, #0000, #000, #000, #0000);
    }
    img.blurred {
        max-width: 9999px;
        min-width: 100vw;
        filter: blur(10px);
        position: absolute;
        z-index: -2;
    }

    mask-image: linear-gradient(to bottom, #fff, #fff4 50%, #fff0 100%);
}

.user-header {
    display: flex;
    align-items: center;
    height: 200px;
    img {
        height: 200px;
        border-radius: 20px;
    }
    .name {
        margin-left: 30px;
        >div {
            display: flex;
            align-items: center;
            gap: 8px;

            img {
                height: 32px;
                border-radius: 8px;
            }
            h1 {
                font-size: 38px;
            }
        }
        >span {
            margin-top: 3px;
            font-size: 26px;
            display: inline-block;
        }
    }
    .panels {
        margin-left: auto;
        display: flex;
        gap: 16px;
        >div {
            &:hover {
                &:not(:has(.toolbar-area:hover)) {
                    background: color-mix(in srgb, var(--col-l3) 50%, transparent);
                    transform: translateY(-5px);
                    cursor: pointer;
                    border-color: var(--col-l3);

                    .rank-image {

                        animation: spin 1s ease;

                    }
                }
            }
            transition: all 0.2s ease;

            height: 185px;
            background: color-mix(in srgb, var(--col-l2) 50%, transparent);
            width: 300px;
            backdrop-filter: blur(10px);
            outline: color-mix(in srgb, var(--col-l6) 50%, transparent) solid 1px;
            border-radius: 20px;
            >div {
                width: 100%;
                height: 100%;
            }
        }
    }
}
@keyframes spin {
    0% { transform: perspective(160px) rotateY(0deg); }
    100% { transform: perspective(160px) rotateY(360deg); }
}
.panel-stats {


    display: flex;
    flex-direction: column;
    padding: 14px;


    >p, .toolbar-area * {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: #FFFA;
        margin-bottom: 4px;
    }

    .toolbar-area {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .toolbar-area > div {
        margin-left: auto;
        display: flex;
        align-content: center;
        gap: 10px;
        button {
            color: #fffa !important;
            font-weight: 600;
            &.otab-button-active {
                color: var(--col-sat-2) !important;
                font-weight: 800;
            }
        }
    }

    .cunt {
        flex: 1;
        position: relative;
        padding-top: 6px;
    }
    .mainarea {
        flex: 1;
        display: flex;
        flex-direction: column;
        transition: all 0.2s ease;


        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &.otab-hidden {
            opacity: 0;
            transform: translateY(10px);
        }
    }


    h3 {
        display: flex;
        align-content: center;
        gap: 6px;
        align-items: center;
        img {
            height: 16px;
            border-radius: 6px;
        }
    }

    >h1 {
        font-size: 32px;
        font-weight: 400;
    }
    >h3 {
        font-size: 22px;
        font-weight: 200;
    }

    .footerarea {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
    }

    strong {
        font-weight: 800;
    }

    &.panel-medals-outer {
        border-radius: 20px;
        border: 3px solid var(--maincol);

        h1 {
            font-size: 32px;
            strong {

                color: #fff0;
                background: var(--maincol);
                background-clip: text;
                width: auto;
                font-weight: 900;
            }
        }
        h2 {
            margin-top: -3px;
            font-size: 20px;
            font-weight: 400;
        }
        h3 {
            margin-top: 2px;
            opacity: 0.7;
            gap: 3px;
            font-size: 16px;
            font-weight: 400;
            strong {
                font-weight: 500;
            }
        }

        position: relative;

        .rank-image {
            position: absolute;
            top: 14px;
            right: 14px;
            height: 100px;
            display: flex;
        }
        .next-medals {
            display: flex;
            align-items: center;
            gap: 5px;
            img {
                height: 16px;
                transform: scale(2);
                margin-left: 8px;
            }
        }
        .club-progress-bar {
            position: absolute;
            bottom: -4px;
            left: 20px;
            right: 20px;

            outline: 5px solid var(--col-l2);

        }

    }
}

.club-progress-bar {
    border-radius: 90px;
    background-image: url("/public/img/clubbar.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    height: 4px;
    position: relative;

    >div {
        background: var(--maincol);
        height: 7px;
        margin-top: -2px;
        z-index: 9;
        border-radius: 9px;
        outline: 2px solid var(--col-l2);
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to right, #fff0, #fff);
            mix-blend-mode: overlay;
            opacity: 0.4;
        }
    }
}


.main-profile {
    display: flex;
    flex-direction: column;
    >.tabs {
        margin-bottom: 24px;
        display: flex;
        gap: 8px;
        >* {
            background: color-mix(in srgb, var(--col-l5) 40%, transparent);
            backdrop-filter: blur(10px);
            padding: 14px 30px;
            border-radius: var(--border-radius);
            &.otab-button-active {
                background: var(--col-l90);
                color: var(--col-l2);
            }
        }

        a {
            margin-left: auto;
        }
    }
}


.medals-top-panel {
    display: flex;
    flex-direction: row;
    align-items: stretch    ;
    padding: 0px;
    outline: 1px solid var(--col-l3);

    background: linear-gradient(170deg,
        color-mix(in srgb, var(--maincol) 30%, transparent),
    color-mix(in srgb, var(--maincol) 0%, transparent) 70%
    ), var(--col-l2);

    .content {
        display: flex;
        flex-direction: column;
        padding: 20px;


        >.top {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            img {
                width: 100px;
            }
            >div {
                margin-left: 20px;
                h1 {
                    font-size: 34px;
                    font-weight: 300;
                    color: var(--maincol);
                }
                h3 {
                    font-size: 21px;
                    font-weight: 500;
                    color: var(--col-text-l1);
                    span {
                        font-weight: 700;
                    }
                }
                h4 {
                    font-size: 18px;
                    font-weight: 400;
                    color: var(--col-text-l1);
                }
            }
        }

        >.ranks {
            display: flex;
            align-items: center;
            gap: 20px;
            >div {
                display: flex;
                align-items: center;
                gap: 3px;
                font-size: 20px;
                span {
                    font-weight: 900;
                }
            }
            i {
                font-size: 50px;
            }
            img {
                height: 30px;
                border-radius: 10px;
            }

            i, img {
                margin-right: 6px;
            }
        }

        >.bottom {
            margin-top: auto;

            >.next-content {
                display: flex;
                align-items: center;
                margin-bottom: 8px;
                * {
                    font-size: 17px;
                }
                .left {
                    white-space: nowrap;
                    display: flex;
                    gap: 4px;
                }
                .right {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    h4 {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }

                    img {
                        height: 36px;
                    }
                }
            }
        }
        flex: 1;
        max-width: 500px;
    }
    #medal-graph {
        flex: 1;

        .graph-outer {
            background: color-mix(in srgb, var(--col-d0) 30%, transparent);
            border-radius: 0px;
            outline: 0px solid red;
            border: 0px solid red;
        }
    }
    overflow: hidden;
}