@import url("vars.css");
@import url("../../fonts/Author/author.css");
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: "Author", sans-serif;
    color: var(--col-text-l1);
    background-color: var(--col-base);
    min-height: 100vh;
    max-height: 100vh; /* I HATE TIPPY */
    /* elaboration: if this isn't set tippy sends the tooltip into purgatory out of the viewport */
    /* so for whatever fucking absurd reason we have to do this, i love web dev! i love web dev! i */
    height: 0; /* now it's just getting ridiculous */
}

[aria-hidden="true"] { visibility: hidden; }

.skip-link {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    padding: 20px;
    opacity: 0;
}

.skip-link:focus {
    opacity: 1;
}