@import url("vars.css");
@import url("../../fonts/Author/author.css");
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: "Outfit", sans-serif;
    color: var(--col-text-l1);
    background-color: var(--col-base);
    min-height: 100%;
    display: flex;
}

.page-padder {
    flex: 1;
}

/*[aria-hidden="true"] { visibility: hidden; }*/

.skip-link {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    padding: 20px;
    opacity: 0;
    z-index: -1;
}

.skip-link:focus {
    opacity: 1;
    z-index: 1000;
}

::-webkit-scrollbar {
    height: 12px;
    width: 5px;
    background:  color-mix(in srgb, var(--col-sat-1) 5%, transparent);

}

::-webkit-scrollbar-thumb {
    background: var(--col-sat-1);
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}



.alerts {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 100vw;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
    >div {
        cursor: unset;
        transition: all 0.2s ease;
        outline: 2px solid #0000;
        &:has(a[href]) {
            cursor: pointer;
            &:hover {
                transform: translateY(-8px);
                background: color-mix(in srgb, var(--col-l3) 70%, transparent);
                outline: 2px solid var(--col-sat-3);
            }
        }
        color: inherit;
        background: color-mix(in srgb, var(--col-l2) 70%, transparent);
        border: color-mix(in srgb, var(--col-l5) 50%, transparent) solid 1px;
        display: flex;
        border-radius: var(--border-radius);
        overflow: hidden;
        align-items: stretch;
        width: 100%;
        backdrop-filter: blur(10px);
        .alert-content {
            color: inherit;
            padding: 20px;
            h1 {
                font-size: 22px;
                font-weight: 600;
            }
            p {
                font-size: 16px;
            }
        }
        .dismiss {
            margin-left: auto;
            display: flex;
            align-items: stretch;
            >button {
                * {
                    padding: 0px;
                    margin: 0px;
                }
                padding: 8px !important;
                border-radius: 0px;
            }
        }
    }
}



.drag-placeholder {
    height: var(--placeholder-height, 40px);
    box-sizing: border-box;
}

@keyframes clone-trans {
    0% {
        transform: scale(1);
        background: #fff0;
        box-shadow: 0px 0px 0px #0000;
    }
    100% {

    }
}

.dragged-clone {
    animation: clone-trans 0.2s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--drag-width);
    height: var(--drag-height);
    transform: scale(1.05);
    z-index: 9999;
    pointer-events: none;
    background: color-mix(in hsl, var(--col-l2), transparent 40%);
    backdrop-filter: blur(8px);
    outline: 1px solid var(--col-l4);
    box-shadow: 0px 20px 10px #0005;
    border-radius: 12px;
    border: 0px;
}

.orderablelist-outer {

}

.draggable-element {

    .drag-handle-area {
        display: flex;
        flex-direction: column;

        > * {
            flex: 1;
        }
    }

    .drag-handle {

        opacity: 0.4;
        font-size: 12px !important;
    }

    .drag-handle, .remove-btn, .move-up, .move-down {
        width: 50px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
            background: var(--brand-accent);
            border-radius: 900px;
        }
    }
}

*:has(.e404) {
    * {
        --hue: -20 !important;

    }
}
body:has(.e404) {

    background: linear-gradient(to right, #f7258544, #b5179e00);
}
.e404 {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 80vh;
    .texts {
        max-width: 600px;

        p {
            font-size: 40px;
            font-weight: 100;
            line-height: 1;
            color: var(--col-sat-3);
            rotate: -10deg;
            display: flex;
            width: min-content;
        }
        h1 {
            font-size: 60px;
            line-height: 1;
            font-weight: 200;
        }
        h3 {
            margin: 20px 0px;
            font-size: 30px;
            font-weight: 100;
            font-style: italic;
        }
    }
    .buttons {
        display: flex;
        gap: 10px;
        .big {
            font-size: 18px;
            padding: 14px 30px;
        }
    }
}