@import url("vars.css");
@import url("../../fonts/Author/author.css");
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: "Author", sans-serif;
    color: var(--col-text-l1);
    background-color: var(--col-base);
    min-height: 100%;
    display: flex;
}

[aria-hidden="true"] { visibility: hidden; }

.skip-link {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    padding: 20px;
    opacity: 0;
}

.skip-link:focus {
    opacity: 1;
}