.toasts__area {
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    z-index: 50001;
    align-items: center;

}
@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
}
.toasts__toast {
    pointer-events: all;
    margin-bottom: 8px;
    background: var(--col-l2);
    box-shadow: 0px 5px 20px #0002;
    overflow: hidden;
    border-radius: var(--border-radius);
    width: 600px;
    max-width: 90vw;
    transition: all 0.4s ease;
    cursor: pointer;
    animation: slideup 0.4s ease;
}
.toasts__loader {
    height: 4px;
    background: hsl(var(--hue), 97%, 68%);
}
.toasts__toast-inner {

    display: flex;
    align-items: center;
    padding: 15px 15px;
    padding-right: 18px;
    gap: 5px;
}

.toasts__toast .buttons {
    margin: -10px;
    margin-left: 0px;
    margin-left: auto;
}
.toasts__toast .buttons .button {
    background: var(--col-l1);
}
.toasts__toast i {
    font-size: 20px;
    margin-right: 8px;
    color: hsl(var(--hue), 97%, 68%);
}
.toasts__toast p {
    font-size: 18px;
}

.toasts__toast-hide {
    transform: translateY(-5px);
    height: 0px !important;
    opacity: 0;
    padding: 0px 8px;
    margin: 0px;
    overflow: hidden;
}