star-rating {
    --size: 1;
    display: inline-block;
    margin-left: calc(2px * var(--size));
    transform: translateY(1px);
}
star-rating > div {
    display: flex;
    align-items: center;
    font-weight: 600;
    position: relative;
    padding: 0px calc(5px * var(--size));
}
star-rating > div svg {
    stroke-width: calc(3px * var(--size));
    height: calc(16px * var(--size)) !important;
    width: calc(16px * var(--size)) !important;;
    border-radius: calc(12px * var(--size));
    margin-right: calc(2px * var(--size));
}

star-rating > div:after {
    border-radius: 20px;
    background: linear-gradient(
    to bottom,
    color-mix(in srgb, var(--background) 20%, transparent),
    color-mix(in srgb, var(--background) 70%, transparent)
    );
    content: "";
    position: absolute;
    width: 100%;

    bottom: -1px;
    top: -1px;
    left: 0;
    z-index: -1;
}

.solution-note {
    margin-top: 3px;
    margin-bottom: 6px;
    padding: 4px 0px;
    padding-left: 10px;
    display: flex;
    position: relative;
}
.solution-note p {
    font-size: 15px !important;
    font-weight: 400;
}
.solution-note star-rating {
    --size: 0.8 !important;;
}
.solution-note > svg {
    min-height: 20px;
    min-width: 20px;
    max-height: 20px;
    max-width: 20px;
    margin-right: 6px;
}
.solution-note:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    border-radius: 0px;
    height: 100%;
    background: var(--background);
    border-radius: 12px;
}
