.spinner {
    --spinner-size: 6;
    --ring-size: 25;
    font-size: calc(var(--spinner-size) * 1em);
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
}

.loader-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-centered .spinner {
    --ring-size: 20;
    --spinner-size: 4;
    margin: 40px auto;
}

.spinner-small {
    width: 0.3em;
    height: 0.3em;
    --ring-size: 20;
}

.spinner .spoke {
    animation: spoke-fade 0.9s linear infinite;
}

@keyframes spoke-fade {
    0% {
        fill: color-mix(in srgb, var(--col-sat-1) 25%, transparent);
    }
    100% {
        fill: color-mix(in srgb, var(--col-sat-2) 50%, white);
    }
}

.loader-overlay {
    position: absolute;
    inset: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    backdrop-filter: blur(2px);
    transition: opacity 0.2s ease-in-out;
    &.hidden {
        position: absolute !important;
    }
}