comments-section {
    width: 100%;
}


.comment-outer {
    margin-top: 25px;
}
.comment-outer.replies-opened {
    margin-bottom: 30px;
}
.comment-outer.replies-opened .view-replies svg {
    transform: rotate(-180deg) translateY(1px);
}

.comment-outer .comment-replies {
    opacity: 0;
    max-height: 0px;
    pointer-events: none;
    transition: all 0.2s ease;
}
@keyframes open {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
.comment-outer.replies-opened .comment-replies {
    max-height: var(--reply-height);
    opacity: 1;
    animation: open 0.3s ease;
    pointer-events: all;
}
.comment-reply {
    padding-top: 8px;
    padding-left: 12px;
}
.comment-inner {
    position: relative;
}
.comment-inner.pinned:after, .comment-inner.pinned:before {
    content: "";
    position: absolute;
    --offset: -12px;
    border-radius: var(--border-radius);
    top: var(--offset);
    left: var(--offset);
    width: calc(100% + (var(--offset)*(-2)));
    height: calc(100% + 20px);
    pointer-events: none;
}
.comment-inner.pinned:before {
    border: 1px solid var(--col-sat-3);
    mask-image: linear-gradient(to bottom right, #fff, #fff0 50%);
}
.comment-inner.pinned:after {
    background: color-mix(in srgb, var(--col-sat-1) 20%, transparent);
    box-shadow: 0px 0px 40px inset var(--col-sat-2);
    z-index: -1;
    mask-image: linear-gradient(-20deg, #fff0 40%, #fff);
}
.comment .name {
    display: flex;
    align-items: center;
}
.comment .name .pin {
    margin-left: auto;
    transform: rotate(45deg);
}
.comment .name .pin, .comment .name .pin * {
    height: 20px;
    width: 20px;
    stroke-width: 1px;
}
.comment .name > div {
    display: flex;
    align-items: center;
}
.comment .name > div .role-badge {
    margin-left: 5px;
}
.comment .name h1 {
    font-size: 22px;
    font-weight: 600;
    margin-left: 10px;
}
.comment .name h3 {
    font-weight: 300;
    margin-left: 10px;
}
.comment .name > img {
    height: 32px;
    border-radius: 200px;

}
.comment .content {
    margin-top: 6px;
    font-size: 16px;
}
.comment .content,
.comment .content p {
    font-weight: 300 !important;
}

.comment .content img {
    width: 60%;
    max-height: 250px;
}
.comment .toolbar .right {
    margin-left: auto;
}
.comment .toolbar {
    margin-top: 5px;
    display: flex;
    align-items: center;
    margin-left: -8px;
    margin-right: -8px;
}
.comment .toolbar > * {
    display: flex;
    gap: 2px;
    align-items: center;
    opacity: 0.6;

    padding: 5px;
    padding-right: 12px;
    padding-left: 11px;

    margin-left: -3px;
    border-radius: 900px;
}


.comment .toolbar > .view-replies {
    padding-left: 5px;
}
.comment .toolbar > *:not(.view-replies) svg {
    margin-right: 3px;
}
.comment .toolbar .view-replies svg {
    transition: all 0.2s ease;
}

.comment .toolbar > *:hover {
    background: #fff2;
}

.comment .toolbar svg {
    width: 20px;
}

.comment .content, .comment .content * {
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    word-break: break-word;
}
.comment-input {
    display: flex;
    align-items: stretch;
    border-radius: 25px;
    overflow: hidden;
}
.comment-input .input {
    border-radius: 0px;
    margin-right: 2px;
    resize: vertical;
    background: #0004;
}
.comment-input .button {
    display: flex;
    align-items: center;
    border-radius: 0px;
    padding-left: 12px;
    padding-right: 16px;
    background-color: var(--col-sat-1);
}
.comment-input .button svg {
    width: 20px;
    height: 20px;
}

.comment-input textarea {
    flex: 1;
    min-height: 44px;
}

.comment .toolbar > *.active {
    background: #fff1;
    opacity: 1;
}
.comment .toolbar > *.active svg {
    fill: white;
}