comments-section {
    width: 100%;
}


.comment {
    background: #222;
    margin-top: 10px;
}



.comment-input {
    display: flex;
    align-items: stretch;
    border-radius: var(--border-radius);
    overflow: hidden;
}
.comment-input .input {
    border-radius: 0px;
    margin-right: 2px;
}
.comment-input .button {
    display: flex;
    align-items: center;
    border-radius: 0px;
    padding: 14px;
    background-color: var(--col-l5);
}
.comment-input .button svg {
    width: 20px;
    height: 20px;
}

.comment-input textarea {
    flex: 1;
}