medal-icon {
    aspect-ratio: 1/1;

    position: relative;
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: contain;
        width: calc(100% - 2px);
        height: calc(100% - 2px);

        &.icon {

            --hex-inset: 5%;
            --hex-inner: calc(100% - var(--hex-inset));
            --hex-mid-high: calc(25% + var(--hex-inset) * 0.5);
            --hex-mid-low: calc(75% - var(--hex-inset) * 0.5);
            clip-path: polygon(
                    50% var(--hex-inset),
                    var(--hex-inner) var(--hex-mid-high),
                    var(--hex-inner) var(--hex-mid-low),
                    50% var(--hex-inner),
                    var(--hex-inset) var(--hex-mid-low),
                    var(--hex-inset) var(--hex-mid-high)
            );
        }

        &.base {
            opacity: 1;
        }
    }
}