pagination-el {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    justify-content: center;
}
pagination-el > div > div {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 4px;
    border-radius: 5px;
}
pagination-el > div {
    display: flex;
}
pagination-el > div > div.special {
    background-color: var(--col-l3);
}
pagination-el > div > div.selected {
    background: var(--gradient);
    font-weight: 800;
    color: var(--topcol);
}
