@font-face {
    font-family: "icons";
    src: url("./icons.eot?84f46284dc48434af48e38e49a37c2a2#iefix") format("embedded-opentype"),
url("./icons.woff2?84f46284dc48434af48e38e49a37c2a2") format("woff2"),
url("./icons.woff?84f46284dc48434af48e38e49a37c2a2") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logo-osekai:before {
    content: "\f101";
}
.icon-gamemode-taiko:before {
    content: "\f102";
}
.icon-gamemode-osu:before {
    content: "\f103";
}
.icon-gamemode-mania:before {
    content: "\f104";
}
.icon-gamemode-catch:before {
    content: "\f105";
}
.icon-gamemode-all:before {
    content: "\f106";
}
