@font-face {
    font-family: "icons";
    src: url("./icons.eot?242a911e3c9a8fbdcf2d984c69d472ef#iefix") format("embedded-opentype"),
url("./icons.woff2?242a911e3c9a8fbdcf2d984c69d472ef") format("woff2"),
url("./icons.woff?242a911e3c9a8fbdcf2d984c69d472ef") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tp-twitter:before {
    content: "\f101";
}
.icon-tp-discord:before {
    content: "\f102";
}
.icon-tp-bluesky:before {
    content: "\f103";
}
.icon-omh:before {
    content: "\f104";
}
.icon-logo-osekai:before {
    content: "\f105";
}
.icon-gamemode-taiko:before {
    content: "\f106";
}
.icon-gamemode-osu:before {
    content: "\f107";
}
.icon-gamemode-mania:before {
    content: "\f108";
}
.icon-gamemode-catch:before {
    content: "\f109";
}
.icon-gamemode-all:before {
    content: "\f10a";
}
